﻿body {
    padding-top:0!important;
}

#wrapper {
    transition: all .4s ease 0s;
    height: 100%;
    width:100%;
    position:absolute;
}
.content-container{
    height:92%;
}

#sidebar-wrapper {
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    background-color:#c73c2e;
}
.header-container{
    height:8%;
    background-color:#e74c3c;
}
.sidebar-nav {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    width:100%;
}
.sidebar-brand #menu-toggle{
    width:100%;
}
.sidebar-brand #main_icon{

}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    height: auto;
}
.profile-container .profile-picture{
    width:50%;
    margin:auto;
}
.profile-container .profile-picture img{
    width:100%;
    border:2px solid #fff;
}
.profile-container .profile-name{
    text-align:center;
    color:#fff;
}
.profile-container .profile-name h2{
    font-size:20px;
}
.profile-container .profile-account{
    text-align:center;
    color:#fff;
    margin:10px 0;
    font-weight:bold;
}
#sidebar_menu li a, .sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.header-actions{
    font-size:20px;
    padding-top:10px;
}
.header-navigation{
    list-style:none;
    padding-top:15px;
}
.header-navigation li{
    float:left;
    width:25%;
}
.header-navigation li a{
    color:#fff;
    font-weight:bold;
}
.header-navigation li a:hover{
    text-decoration:none;
}
.header-actions a{
    color:#fff;
}
.account{
    background-color:#fff;
    margin-top:-15px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:8px;
    position:relative;
}
.account-picture{
    float:left;
    margin-top:15px;
}
.account-name{
    float:left;
    color:#e74c3c;
    padding-left:4px;
    margin-top:15px;
}
.account-name a{
    color:#e74c3c!important;
}
.account-menu.hidden{
    display:none;
}
.account-menu{
    position:absolute;
    top:70px;
    right:0;
    width:150px;
    border-radius:4px;
    border:1px solid #e74c3c;
}
.account-menu ul{
    margin:0;
    list-style:none;
    padding:0;
}
.account-menu ul li{
    width:100%;
    padding:10px;
}
.collapsed{
    max-height:0;
    overflow:hidden;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  width:100%;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a .glyphicon{
    float:right;
}
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 300px;
    transition: all .4s ease 0s;
}
}
