﻿
/*Landing page for the backoffice with login screen*/
body {
    background-color:#cecece;
    color:#fff;
    padding:0;
}
.col-md-9 {

}
.col-md-3, #sidebar-wrapper{
    position:absolute;
    height:100%;
    margin:0;
    background-color:#e74c3c;
}
.input-group{
    width:100%!important;
    padding-bottom:20px;
    border:none!important;
}
.btn-default {
    width:100%;
    background-color:#c0392b;
    color:#fff;
    border:1px solid #ffffff!important;
    border-radius:2px;
}
.btn-default:hover{
    background-color:#c0392b;
    color:#fff;
    box-shadow:0 2px 2px rgba(30,30,30, 0.4);
}
input {
    max-width:100%!important;
    border:none!important;
    border-radius:2px!important;
}
.btn-group {
    width:100%;
    border:none!important;
}
.btn-default {
    border:none!important;
}
.body-content {
    padding-top:50px;
}