﻿@model IEnumerable<Forma.Model.Courses>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Course", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Teacher</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="courses-@item.Id" data-title="@item.Name">
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <th>@item.lecturer.User.Person.FirstName @item.lecturer.User.Person.LastName </th>
                                <td>@item.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @item.Id })" name="Edit item: @item.Name"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @item.Id })" name="Delete item: @item.Name" data-id="@item.Id" data-cat="classes" data-action="delete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@item.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @item.Id })" name="Soft-undelete item: @item.Name" data-id="@item.Id" data-cat="classes" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @item.Id })" name="Soft-delete item: @item.Name" data-id="@item.Id" data-cat="classes" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="fa fa-eye"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Courses in the database!</p>
        }
    </div>
  
</div>