﻿@model Forma.Model.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Courses";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Course
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Courses</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.courses.Name)
                            @Html.TextBoxFor(m => m.courses.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.courses.Description)
                            @Html.TextAreaFor(m => m.courses.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.courses.lecturer)
                            @Html.DropDownListFor(m => m.courses.LecturerId, new SelectList(Model.lecturers, "Id", "LecturerEmail"), "-- Select a teacher  --", new { @class = "form-control" })
                        </div>
                       
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>