﻿@model IEnumerable<Forma.Model.Lecturer>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Lecturere", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>LecturerNumber</th>
                            <th>Lecturer Email</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="department-@item.Id" data-title="@item.User.Person.FirstName">
                                <td>@item.User.Person.FirstName</td>
                                <td>@item.User.Person.LastName</td>
                                <th>@item.LecturerNumber</th>
                                <td>@item.LecturerEmail</td>
                                <td>@item.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @item.Id })" name="Edit Lecturer: @item.User.Person.FirstName"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @item.Id })" name="Delete item:@item.User.Person.FirstName" data-id="@item.Id" data-cat="item" data-action="delete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#item-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@item.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @item.Id})" name="Soft-undelete item: @item.User.Person.FirstName" data-id="@item.Id" data-cat="item" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#item-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @item.Id })" name="Soft-delete item: @item.User.Person.FirstName" data-id="@item.Id" data-cat="item" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#item-list"><i class="fa fa-eye"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No departments in the database!</p>
        }
    </div>
    <!--<div class="panel-footer">
        @Html.ActionLink("Create a new department", "Create", new { }, new { @class = "btn btn-default" })
        hier moet pagination ofzo komen !
        en in de bovenste panel mag anders wel wat breadcrums ! thnx rutger ;)
        alsook moet er euhm ja iets zijn om te zien hoeveel er in totaal zijn ( zo nen bol met et cijfer van aantal in)
        tmoet wat fancy zijn!
    </div>-->
</div>