﻿@model Forma.Model.ViewModels.ResponsibleViewModel

@{
    ViewBag.Title = "Lecturer";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new department
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>

                        <legend class="hidden">Lecturer</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Classresponsible.ResponsibleNumber)
                            @Html.TextBoxFor(m => m.Classresponsible.ResponsibleNumber, new { @class = "form-control" })
                        </div>
                        <!--//Hier moet nog een form komen met de optie om een afbeelding te seleteren
                            van je computer Dit moet dan opgeslagen worden als een String en zo ook
                            Worden uitgelezen in de FrontEnd-->

                        <div class="form-group">
                            @Html.LabelFor(m => m.Classresponsible.Lecturer)
                            @*<select name="users" >
                                    @foreach(var item in Model.Lecturers)
                                    {
                                        <option value="@item.Id">@item.User.Person.FirstName @item.User.Person.LastName</option>
                                    }
                                </select>*@
                            @Html.DropDownListFor(m => m.Classresponsible.LecturerId, new SelectList(Model.Lecturers, "Id", "LecturerEmail"), "-- Select a Lecturer --", new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>