﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center banner">
    <h1>Formata</h1>
    <h2 class="slogan">dolor sit amet, consectetur adipiscing elit.</h2>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit, magna eu sollicitudin aliquet, sem orci aliquet velit, vitae laoreet nibh dui semper erat. Sed nec fringilla mauris. Phasellus mollis tristique odio. Vestibulum maximus dui aliquam feugiat tincidunt.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <form role="form">
            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input type="email" class="form-control" id="email" placeholder="E-mailadres">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
            </div>
            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary">Inloggen</button>
            </div>
            <div class="button-wrapper">
                <button type="button" class="btn btn-default">Registreren</button>
            </div>
        </form>
    </div>
</div>