﻿<!doctype html>
<!-- [if lt IE 7]><html dir="ltr" lang="nl-be" class="no-js lt-ie7"><![endif]-->
<!-- [if lt IE 8]><html dir="ltr" lang="nl-be" class="no-js lt-ie8"><![endif]-->
<!-- [if lt IE 9]><html dir="ltr" lang="nl-be" class="no-js lt-ie9"><![endif]-->
<!-- [if lt IE 10]><html dir="ltr" lang="nl-be" class="no-js lt-ie10"><![endif]-->
<!-- [if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="nl-be" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    @* CHARACTER ENCODING *@
    <meta charset="UTF-8">
    @* LATEST VERSION OF RENDERING ENGINE *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @* MOST IMPORTANT SEO FRIENDLY TAG *@
    <title>@ViewBag.Title</title>
    @* OTHER IMPORTANT SEO TAGS *@
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="@ViewBag.Author">
    <meta name="copyright" content="Copyright 2003-15 Arteveldehogeschool. Alle rechten voorbehouden.">
    @* HUMANS AUTHORS TEXT FILE *@
    <link type="text/plain" rel="author" href="~/humans.txt">
    @* FAVICON AND TOUCHICONS ex: http://demosthenes.info/blog/467/Creating-MultiResolution-Favicons-For-Web-Pages-With-GIMP *@
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/content/icons/apple-touch-icon-57-precomposed.png">
    <link href="~/content/icons/favicon.ico" rel="icon" type="image/x-icon">
    <link href="~/content/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    @* MOBILE VIEWPORT *@
    <meta name="viewport" content="width=device-width">
    @* Backoffice CSS BUNDLE INCLUDE RESET, BOOTSTRAP AND ADMIN STYLES *@
    @Styles.Render("~/Content/css")


    <link rel="stylesheet" type="text/css" href="~/Content/BackOffice/layout.css">

    @* MODERNIZR JS BUNDLE: NEW HTML5 ELEMENTS + FEATURE DETECTION *@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="active container-fluid">
        <div class="row header-container">
            <div class="col-sm-12 header">
                <div class="row">
                    <div class="col-sm-2 logo">
                        <img src="~/Content/img/logo.png" alt="" />
                    </div>
                    <div class="col-sm-6 header-actions">
                        <a href="#"><i class="glyphicon glyphicon-envelope"></i> Mail</a>
                    </div>
                    <div class="col-sm-4">
                        <ul class="header-navigation ">
                            <li><a href="#">About</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                            <li>
                                <div class="account clearfix">
                                    <div class="account-picture">
                                        <img src="http://placehold.it/20x20" class="img-circle" />
                                    </div>
                                    <div class="account-name">
                                        <p>Ellen <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a></p>
                                    </div>
                                    <div class="account-menu hidden">
                                        <ul>
                                            <li>Edit</li>
                                            <li>Logout</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-container">
            <div class="col-sm-2" id="sidebar-wrapper">
                @* Sidebar Partial*@
                @Html.Partial("_Sidebar")
            </div>
            <div class=" col-sm-10" id="page-content-wrapper">
                <!-- Keep all page content within the page-content inset div! -->
                <div class="page-content inset">
                    <div class="row">
                        <div class="col-md-12">
                            <main id="main">
                                @* Render the body of the view *@
                                @RenderBody()
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
