﻿@* Sidebar, on the left in the backoffice *@

<ul id="sidebar_menu" class="sidebar-nav">
    <li class="sidebar-brand"><a id="menu-toggle" href="#"><span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
</ul>
<div class="profile-container">
    <div class="profile-name">
        <h2>Ellen Wagner</h2>
    </div>
    <div class="profile-picture">
        <img src="http://placehold.it/100x100" class="img-circle" />
    </div>
    <div class="profile-account">
        <p><i class="glyphicon glyphicon-edit"></i> Account</p>
    </div>
</div>
<ul class="sidebar-nav" id="sidebar">
    <li>
        <a href="@Url.Action("Index", "AcademicYear")">Academic Year<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a>
        <ul class="collapse-link collapsed">
            <li></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "Department")">Deparments<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a></li>
    <li><a href="@Url.Action("Index", "Specialization")">Specializations<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a></li>
    <li><a href="@Url.Action("Index", "Class")">Classes<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a></li>
    <li><a href="@Url.Action("Index", "User")">Users<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a></li>
    <li><a href="@Url.Action("Index", "Lecturer")">Lecturers<span class="sub_icon glyphicon glyphicon-chevron-down"></span></a></li>
</ul>