﻿@model IEnumerable<Forma.Model.ApplicationUser>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new User", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-id="user-@user.Id" data-title="@user.UserName">
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new{id = @user.Id})" title="Edit user: @user.UserName"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new{id = @user.Id})" title="Delete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="delete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@user.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @user.Id})" title="Soft-undelete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="virtualundelete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new{id = @user.Id})" title="Soft-delete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="virtualdelete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-eye"></i></a>
                                    }
                                    @if (@user.LockoutEnabled && @user.LockoutEndDateUtc != null && @user.LockoutEndDateUtc > DateTimeOffset.MinValue)
                                    {
                                        <a class="confirm-link" href="@Url.Action("UnLock", new{id = @user.Id})" title="Unlock user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="unlock" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="glyphicon glyphicon-lock"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("Lock", new{id = @user.Id})" title="Lock user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="lock" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-unlock"></i></a>
                                    }
                                    @if (@user.TwoFactorEnabled)
                                    {
                                        <a class="confirm-link" href="@Url.Action("DisableTwoFactor", new{id = @user.Id})" title="Disable TwoFactor for the user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="disabletwofactor" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-angellist"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("EnableTwoFactor", new{id = @user.Id})" title="Enable TwoFactor for the user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="enabletwofactor" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-angellist" style="opacity:0.4"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No users in the database!</p>
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Create a new User", "Create", new { }, new { @class = "btn btn-default" })
    </div>
</div>
