﻿@model Forma.Model.Viewmodels.UserRegisterViewModel

@{
    ViewBag.Title = "User";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new user
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Create a new user</legend>
                        @Html.ValidationSummary("", new { @class = "alert-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.FirstName)
                            @Html.TextBoxFor(m => m.Person.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.LastName)
                            @Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>
