﻿@model Forma.Model.ViewModels.Class_has_CourseViewModel

@{
    ViewBag.Title = "ClassHasCourse";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Courses to a Class ! 
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>

                        <legend class="hidden">ClassHasCourse</legend>
                       

                        <div class="form-group">
                            
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>