﻿@model Forma.Model.ViewModels.Class_has_CourseViewModel
@{
    ViewBag.Title = "Classes have Courses";
    ViewBag.SubTitle = "Overview, List, Delete and Edit";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="departments-list">
        @*@{Html.RenderPartial("_ListPartial", Model);}*@
        
        @*@foreach (var item in Model.classes)
        {
            //all classes
        }
        @foreach (var item in Model.courses)
        {
            //all courses
        }
    </section>*@
</div>

@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}