﻿@model IEnumerable<Forma.Model.AcademicYear>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new AcademicYear", "Create", new { }, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Forma.Model.AcademicYear academicYear in Model)
                        {
                            <tr data-id="academicyear-@academicYear.Id" data-title="@academicYear.Name">
                                <td>@academicYear.Name</td>
                                <td>@academicYear.Description</td>
                                <td>@academicYear.Updated</td>
                                <td>

                                    <a href="@Url.Action("Edit", new { id = @academicYear.Id })" title="Edit academicyear: @academicYear.Name"><i class="glyphicon glyphicon-edit"></i></a>
                                    
                                    @using (Html.BeginForm("Delete", "AcademicYear",new { id = academicYear.Id }, FormMethod.Post,null))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-actions no-color">
                                            <button class="confirm-link"
                                                    type="submit"
                                               title="Delete academicyear: @academicYear.Name"
                                               data-id="@academicYear.Id" data-cat="academicyear"
                                               data-action="delete" data-update-href="@Url.Action("Index", "AcademicYear")"
                                               data-update-target="#academicyears-list"><i class="glyphicon glyphicon-trash"></i></button>
                                            
                                        </div> 
                                    }
                                    
                                    @if (@academicYear.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @academicYear.Id })" title="Soft-undelete academicyear: @academicYear.Name" data-id="@academicYear.Id" data-cat="academicyear" data-action="virtualundelete" data-update-href="@Url.Action("Index", "AcademicYear")" data-update-target="#academicyears-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @academicYear.Id })" title="Soft-delete academicyear: @academicYear.Name" data-id="@academicYear.Id" data-cat="academicyear" data-action="virtualdelete" data-update-href="@Url.Action("Index", "AcademicYear")" data-update-target="#academicyears-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No categories in the database!</p>
        }
    </div>
</div>