﻿@model Forma.Model.AcademicYear
@{
    ViewBag.Title = "AcademicYear";
    ViewBag.SubTitle = "Edit";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing academicyear
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">AcademicYear</legend>
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>
