﻿@model IEnumerable<Forma.Model.AcademicYear>
@{
    ViewBag.Title = "AcademicYear";
    ViewBag.SubTitle = "Overview, List, Delete and Edit";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="posts-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>

@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}