﻿@model IEnumerable<Forma.Model.Department>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Department", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>AcademicYear</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var department in Model)
                        {
                            <tr data-id="department-@department.Id" data-title="@department.Name">
                                <td>@department.Name</td>
                                <td>@department.Description</td>
                                <th>@department.AcademicYear.Name</th>
                                <td>@department.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new{id = @department.Id})" name="Edit department: @department.Name"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new{id = @department.Id})" name="Delete department: @department.Name" data-id="@department.Id" data-cat="department" data-action="delete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@department.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @department.Id})" name="Soft-undelete department: @department.Name" data-id="@department.Id" data-cat="department" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new{id = @department.Id})" name="Soft-delete department: @department.Name" data-id="@department.Id" data-cat="department" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="fa fa-eye"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No departments in the database!</p>
        }
    </div>
    <!--<div class="panel-footer">
        @Html.ActionLink("Create a new department", "Create", new { }, new { @class = "btn btn-default" })
        hier moet pagination ofzo komen !
        en in de bovenste panel mag anders wel wat breadcrums ! thnx rutger ;)
        alsook moet er euhm ja iets zijn om te zien hoeveel er in totaal zijn ( zo nen bol met et cijfer van aantal in)
        tmoet wat fancy zijn!
    </div>-->
</div>