﻿@model Forma.Model.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Student";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Student
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>

                        <legend class="hidden">Lecturer</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.student.StudentEmail)
                            @Html.TextBoxFor(m => m.student.StudentEmail, new { @class = "form-control" })
                        </div>
                        <!--//Hier moet nog een form komen met de optie om een afbeelding te seleteren
                            van je computer Dit moet dan opgeslagen worden als een String en zo ook
                            Worden uitgelezen in de FrontEnd-->

                        <div class="form-group">
                            @Html.LabelFor(m => m.student.User)
                            @*<select name="users" >
                                    @foreach(var lecturer in Model.users)
                                    {
                                        <option value="@lecturer.Id">@lecturer.Person.FirstName @lecturer.Person.LastName</option>
                                    }
                                </select>*@
                            @Html.DropDownListFor(m => m.student.UserId, new SelectList(Model.users, "Id", "UserName"), "-- Select a User --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.student.Classes)
                            @Html.DropDownListFor(m => m.student.ClassId, new SelectList(Model.classes, "Id", "Name"), "-- Select a Class --", new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>