﻿@model IEnumerable<Forma.Model.Specialization>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Specialization", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Department</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Specialization in Model)
                        {
                            <tr data-id="specialization-@Specialization.Id" data-title="@Specialization.Name">
                                <td>@Specialization.Name</td>
                                <td>@Specialization.Description</td>
                                <th>@Specialization.Department.Name</th>
                                <td>@Specialization.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @Specialization.Id })" name="Edit specialization: @Specialization.Name"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @Specialization.Id })" name="Delete specialization: @Specialization.Name" data-id="@Specialization.Id" data-cat="specialization" data-action="delete" data-update-href="@Url.Action("Index", "Specialization")" data-update-target="#departments-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@Specialization.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @Specialization.Id })" name="Soft-undelete specialization: @Specialization.Name" data-id="@Specialization.Id" data-cat="specialization" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Specialization")" data-update-target="#specialization-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @Specialization.Id })" name="Soft-delete specialization: @Specialization.Name" data-id="@Specialization.Id" data-cat="specialization" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Specialization")" data-update-target="#specialization-list"><i class="fa fa-eye"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Specializations in the database!</p>
        }
    </div>
    <!--<div class="panel-footer">
        @Html.ActionLink("Create a new department", "Create", new { }, new { @class = "btn btn-default" })
        hier moet pagination ofzo komen !
        en in de bovenste panel mag anders wel wat breadcrums ! thnx rutger ;)
        alsook moet er euhm ja iets zijn om te zien hoeveel er in totaal zijn ( zo nen bol met et cijfer van aantal in)
        tmoet wat fancy zijn!
    </div>-->
</div>