﻿@model Forma.Model.Viewmodels.SpecializationViewModel

@{
    ViewBag.Title = "Specialization";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Specialization
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Specialization</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Specialization.Name)
                            @Html.TextBoxFor(m => m.Specialization.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Specialization.Description)
                            @Html.TextAreaFor(m => m.Specialization.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Specialization.Department)
                            @Html.DropDownListFor(m => m.Specialization.DepartmentId , new SelectList(Model.Departments, "Id",  "Name"), "-- Select a Department --", new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>