﻿@model IEnumerable<Forma.Model.Classes>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new class", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Specialization</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classes in Model)
                        {
                            <tr data-id="classes-@classes.Id" data-title="@classes.Name">
                                <td>@classes.Name</td>
                                <td>@classes.Description</td>
                                <th>@classes.Specialization.Name</th>
                                <td>@classes.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @classes.Id })" name="Edit classes: @classes.Name"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @classes.Id })" name="Delete classes: @classes.Name" data-id="@classes.Id" data-cat="classes" data-action="delete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="glyphicon glyphicon-trash"></i></a>
                                    @if (@classes.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @classes.Id })" name="Soft-undelete classes: @classes.Name"  data-id="@classes.Id"  data-cat="classes" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @classes.Id })" name="Soft-delete classes: @classes.Name" data-id="@classes.Id"  data-cat="classes" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Class")" data data-update-target="#classes-list"><i class="fa fa-eye"></i></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No classes in the database!</p>
        }
    </div>
    <!--<div class="panel-footer">
        @Html.ActionLink("Create a new department", "Create", new { }, new { @class = "btn btn-default" })
        hier moet pagination ofzo komen !
        en in de bovenste panel mag anders wel wat breadcrums ! thnx rutger ;)
        alsook moet er euhm ja iets zijn om te zien hoeveel er in totaal zijn ( zo nen bol met et cijfer van aantal in)
        tmoet wat fancy zijn!
    </div>-->
</div>