﻿@model Forma.Model.ViewModels.ClassViewModel

@{
    ViewBag.Title = "Classes";
    ViewBag.SubTitle = "Create";
    Layout = "~/Areas/Backoffice/Views/Shared/_HomeLayout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Class
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Classes</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Classes.Name)
                            @Html.TextBoxFor(m => m.Classes.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Classes.Description)
                            @Html.TextAreaFor(m => m.Classes.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Classes.Specialization)
                            @Html.DropDownListFor(m => m.Classes.SpecializationId, new SelectList(Model.Specialization, "Id", "Name"), "-- Select an Specialization --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @if (Model.Classes.ResponsibleId != null)
                            {

                                @Html.LabelFor(m => m.Classes.Responsible)
                                @Html.DropDownListFor(m => m.Classes.ResponsibleId, new SelectList(Model.Responsible, "Id", "ResponsibleNumber"), "-- Select an Responsable Person --", new { @class = "form-control" })
                                
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Classes.Courses)
                            @Html.ListBoxFor(m => m.CoursesIds, Model.Courses, new { multiple = "multiple", @class = "chzn-select form-control", placeholder = "Choose one or more Courses ..." })
                        </div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>