﻿@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700);
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
.navbar {
  background: #e74c3c;
}
.navbar .navbar-nav > li > a {
  color: #2c3e50;
}
.navbar > .container .navbar-brand {
  color: #ecf0f1;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
}
.banner {
  color: #2c3e50;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background: url('Images/banner.jpg');
  background-position: center;
  background-size: cover;
}
.banner h1 {
  font-size: 64px;
  line-height: 64px;
}
.banner h2.slogan {
  font-size: 24px;
  line-height: 24px;
}
form button {
  width: 100%;
  margin-bottom: 6px;
}
.button-wrapper {
  margin-bottom: 8px;
}
.btn-default {
  background: #BDC3C7;
  color: #2C3E50;
}
.btn-primary {
  background: #2c3e50;
  color: #ecf0f1;
}
@media (max-width: 768px) {
  .form-group label {
    display: none;
  }
  .navbar-toggle {
    background: #2c3e50;
  }
  .navbar-toggle:hover {
    background: #BDC3C7;
  }
  .navbar-collapse {
    background: #2c3e50;
    position: absolute;
    right: 30px;
    top: 60px;
    border-radius: 6px;
  }
  .navbar .navbar-nav > li > a {
    color: #ecf0f1;
    padding: 5px 30px 5px 20px;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    background: #BDC3C7;
    color: #2c3e50;
  }
}
