﻿@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700);
@import "Variables.less";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background:@primary;

    .navbar-nav > li > a {
    color:@secondary;
}
}

.navbar > .container .navbar-brand {
    color:@primary-text;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:bold;
}

.banner {
    color:@secondary;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    background:url('Images/banner.jpg');
    background-position:center;
    background-size:cover;

    h1 {
        font-size: 64px;
        line-height: 64px;
       }
    h2.slogan {
        font-size: 24px;
        line-height: 24px;
    }
}

form button {
    width:100%;
    margin-bottom:6px;
}
.button-wrapper {
    margin-bottom:8px;
}
.btn-default {
    background:#BDC3C7;
    color:#2C3E50;
}
.btn-primary {
    background:@secondary;
    color:@primary-text;
}

@media(max-width:768px) {
    .form-group label {
        display:none;
    }
    .navbar-toggle {
        background:@secondary;
    }
    .navbar-toggle:hover {
        background:#BDC3C7;
    }
    .navbar-collapse {
        background:@secondary;
        position: absolute;
        right: 30px;
        top: 60px;
        border-radius: 6px;
    }
    .navbar .navbar-nav > li > a {
        color:@primary-text;
        padding:5px 30px 5px 20px;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        background:#BDC3C7;
        color:@secondary;
    }
}