﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<!--Landing page to login in the backoffice-->
<div class="text-center pad">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username">
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Log in</button>
    </div>
</div>